@import "./variables.scss";

.container {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
}

.container header {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a {
    display: flex;
    align-items: center;
    gap: 10px;

    & > span {
      font-size: 24px;
      color: $white;

      & > b {
        color: $main;
      }
    }
  }
}
