@import "../../app/variables.scss";

.container {
  cursor: pointer;
  border-radius: 8px;
  background: none;
  border: 1px solid $main;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
